<div>
  <div>
	  <div>
		  <div>
			  <% if !current_user.nil? %>
          <ul>
              <li><a href="/">トップ</a></li>
              <li><a href="/tasks/done">done</a></li>
              <li><a href="/tasks/over">締切過ぎた</a></li>
              <% @lists.each do |list| %>
                  <li><a href="/?list=<%= list.id %>"><%=list.name%></a></li>
              <% end %>
          </ul>
<% end %>
			</div>
		  <table>
			  <thead>
				  <tr>
					  <th>タイトル</th>
						<th>締め切り</th>
						<th>Done</th>
						<th>削除</th>
						<th>編集</th>
						<th>備考</th>
						<th>重要?</th>
					</tr>
				</thead>
				<tbody>
				  <% @tasks.each do |task| %>
					  <tr>
						  <td><%= CGI.escapeHTML(task.title) %></td>
							<td><%= task.due_date %></td>
							<td>
							  <% unless task.completed %>
								  <form action="/tasks/<%= task.id %>/done" method="post">
									  <input type="submit" value="Done!">
									</form>
								<% else %>
								  Done!
								<% end %>
							</td>
							<td>
							  <form action="/tasks/<%= task.id %>/delete" method="post">
								  <input type="submit" value="削除">
								</form>
							</td>
							<td><a href="/tasks/<%= task.id %>/edit">編集</></td>
							<td>
							  <% unless task.completed %>
								  <% if task.remained_days < 0 %>
									  締切過ぎた
									<% elsif task.remained_days == 0%>
									  今日締切
									<% elsif task.remained_days < 7 %>
									  締切近い
									<% end %>
								<% end %>
							</td>
							<td>
								<a href="/tasks/<%= task.id %>/star" style="
									<% if task.star %>
										background-color:red;
									<% else %>
										background-color:white;
									<% end %>
									border: 1px solid black;
									width: 10px;
									height: 10px;
									display: block;
									"></a>
							</td>
						</tr>
					<% end %>
					<tr><td colspan="6"><a href="/tasks/new">新しいtodo</a></td></tr>
				</tbody>
			</table>
		</div>
	</div>
</div>